{% extends "base.html" %}

{% block content %}

<br><h1 align="center"><strong><font color="white"> Booked Events </font></strong></h1><br>


<div class="row">
    {% for booking in bookings %}
<div class="col-sm-6">

		<div class="card-body">
            <header class="masthead text-center text-white">

                <h2 class="card-title">{{booking.event.title}} ({{booking.ticketnums}} tickets)</h2>
                    <h6 class="card-title text-center">{{booking.event.date}} at {{booking.event.time}}</h6>
                <a href="{% url 'event-detail' booking.event.id %}" class="btn btn-secondary">View Details</a>
            <div class="card-body text-center">

            </header>
	</div>

</div>
{% endfor %}
</div>
{% endblock content %}
